@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<table class="table tabla-centrada">
	<tr>
		<td>
			<h2>Administración</h2>
		</td>
	</tr>
</table>
