@{
	ViewBag.Title = "Horarios";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}
<div class="infoModelo">
	<a href="#" class="modeloActual">@ViewBag.Title</a>
	<div class="infoModeloTitulos">
		<ul class="">
			<li>|</li>
			<li>
				<span></span>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 10px 9px 9px 9px; display:block; position: relative; height: auto;">
	<div style="width: 235px; float: left; display:block; position: relative;">
		&nbsp;
	</div>
	<div style="width: 705px; float: left; display:block; position: relative;">
		<img src="~/Content/images/missao.jpg" />
		<div class="TituloPagina">Horarios de Atención</div>
		<div class="SubTituloPagina">Lunes a Viernes</div>
		<div class="SubTituloPagina">&nbsp;&nbsp;8:00 a 12:00 hs.</div>
		<div class="SubTituloPagina">&nbsp;&nbsp;15:30 a 19:30 hs.</div>
		<div class="SubTituloPagina">Sábados</div>
		<div class="SubTituloPagina">&nbsp;&nbsp;8:00 a 12:00 hs.</div>
		<div class="SubTituloPagina Rojo" style="margin-top:25px;">Asistencia VW 24 hs.: 0800-666-3434</div>
		<div class="SubTituloPagina Rojo">(011) 4129-8100 / Via cobro revertido (54 11) 4129 8100</div>
	</div>
</div>

