
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}
<div class="infoModelo">
	<a href="#" class="modeloActual">Inicio</a>
	<div class="infoModeloTitulos">
		<ul class="">
			<li>|</li>
			<li>
				<span></span>
			</li>
		</ul>
	</div>
</div>
<h2>Indexaaaaaaaaaaaaaaaaaaaaa</h2>

