@{
	ViewBag.Title = "Encuesta_Venta";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

@section scripts {
	@Styles.Render("~/bundles/estilosCSSModelo")
	@Styles.Render("~/bundles/estilosEmpresa")
	@Scripts.Render("~/bundles/funcionesEmpresaPruebaManejo")
	@Scripts.Render("~/bundles/calendarioEspaniol")
}

<div id="divBannerTituloModelo">
	<span id="spnTituloModelo">
		Prueba de manejo
	</span>
</div>
<div id="divBannerTituloCaracteristicasModelo">
	<ul id="ulListaPaginasHermanas">
		<li><a href="/empresa/inicio" rel="external">Horarios</a></li>
		<li><a href="/empresa/internos" rel="external">Internos</a></li>
		<li><a href="/empresa/encuesta_venta" rel="external">Encuesta satisfacción venta</a></li>
		<li><a href="/empresa/encuesta_posventa" rel="external">Encuesta satisfacción posventa</a></li>
		<li class="seleccionado">Prueba de manejo</li>
	</ul>
</div>

<div id="divImagenEncabezado">
	<img src="img/Empresa01.jpg" class="imgResponsiva" />
</div>

<div id="divTituloModelo">
	Prueba de manejo
</div>

<!----------------------------------LISTA DE CARACTERISTICAS---------------------------------->
<div class="CaracteristicasCelular" id="divHeaderCaracteristicas">
	<div class="iconoDesplegar">
		<img src="../../Content/img/iconos/flechaDerecha.svg" class="svg imgResponsiva abajo" />
		<span>
			Más información
		</span>
	</div>
	<ul class="oculto">
		<li><a href="/empresa/inicio" rel="external">Horarios</a></li>
		<li><a href="/empresa/internos" rel="external">Internos</a></li>
		<li><a href="/empresa/encuesta_venta" rel="external">Encuesta satisfacción venta</a></li>
		<li><a href="/empresa/encuesta_posventa" rel="external">Encuesta satisfacción posventa</a></li>
		<li class="seleccionado">Prueba de manejo</li>
	</ul>
</div>

<!----------------------------------QUE ES---------------------------------->
<div id="divListaPreguntas">

	<div class="Imagenes3Columnas" style="z-index:9;">
		<div class="Imagenes3Columnas-Izquierda">
			<div class="infoSoloTextoColumna">
				<h5>Nombre</h5>
				<input type="text" id="txtNombre" style="padding-top:10px;padding-bottom:10px;padding-left:10px;width:80%;" />
			</div>
		</div>
		<div class="Imagenes3Columnas-Centro">
			<div class="infoSoloTextoColumna">
				<h5>Telefono</h5>
				<input type="text" id="txtTelefono" style="padding-top:10px;padding-bottom:10px;padding-left:10px;width:80%;" />
			</div>
		</div>
		<div class="Imagenes3Columnas-Derecha">
			<div class="infoSoloTextoColumna">
				<h5>E-Mail</h5>
				<input type="email" id="txtEMail" style="padding-top:10px;padding-bottom:10px;padding-left:10px;width:80%;" />
			</div>
		</div>
	</div>

	<div class="Imagenes3Columnas" style="z-index:9;">
		<div class="Imagenes3Columnas-Izquierda">
			<div class="infoSoloTextoColumna">
				<h5>Modelo</h5>
				<select id="ddlModelo" style="padding-top:10px;padding-bottom:10px;padding-left:10px;width:80%;">
					<option value="">- Seleccione el modelo</option>
				</select>
			</div>
		</div>
		<div class="Imagenes3Columnas-Centro">
			<div class="infoSoloTextoColumna">
				<h5>Fecha</h5>
				<input type="text" id="txtFecha" style="padding-top:10px;padding-bottom:10px;padding-left:10px;width:80%;" />
			</div>
		</div>
		<div class="Imagenes3Columnas-Derecha">
			<div class="infoSoloTextoColumna">
				<h5>Hora</h5>
				<select id="ddlHora" style="padding-top:10px;padding-bottom:10px;padding-left:10px;width:80%;">
					<option value="">- Seleccione el horario</option>
					<option value="08:00 hs a 10:00 hs">08:00 hs a 10:00 hs</option>
					<option value="10:00 hs a 12:00 hs">10:00 hs a 12:00 hs</option>
					<option value="15:30 hs a 17:30 hs">15:30 hs a 17:30 hs</option>
					<option value="17:30 hs a 19:30 hs">17:30 hs a 19:30 hs</option>
				</select>
			</div>
		</div>
	</div>

	<div class="Imagenes1Columna" id="divComentarios">
		<div class="infoSoloTextoColumna">
			<h5 style="text-align:center;">Comentarios</h5>
			<textarea id="txtComentarios" rows="10" style="padding-top:10px;padding-bottom:10px;padding-left:10px;width:95%;"></textarea>
		</div>
	</div>


	<div class="Imagenes1Columna">
		<div class="infoSoloTextoColumna">
			<button id="btnEnviarContacto">Enviar</button>
		</div>
	</div>

</div>

<hr class="hrSeparadorItemsSeccion" />