@{
	ViewBag.Title = "Formularios";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

<style type="text/css">
	.formularios-Titulo {
		font-family: 'VWHeadWeb-Bold', Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 15px;
	}

	.columnaDerecha p {
		margin-top: 10px;
	}

	.linkFormulario {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: 15px;
	}
</style>

<div class="infoModelo">
	<a href="#" class="modeloActual">@ViewBag.Title</a>
	<div class="infoModeloTitulos">
		<ul class="">
			<li>|</li>
			<li>
				<span></span>
			</li>
		</ul>
	</div>
</div>

<div style="margin: 10px 9px 9px 9px; display:block; position: relative; height: auto; overflow:hidden;">
	<span class="columnaDerecha">
		<img src="~/Content/images/am0312.jpg" />
		<div class="TituloPagina">@ViewBag.Title</div>


		<div class="formularios-Titulo">A continuación, los formularios para Autoahorro</div>

		<br />

		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/Autoriza.pdf">Autorización de cobro del certificado de adjudicación</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/Constancia.pdf">Constancia de entrega de unidad</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/DatosAdjudicatario.pdf">Datos del adjudicatario</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/AdhesionDebito.pdf">Adhesión débito automático / pago directo</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/Formular_2.pdf?v=2">Solicitud de aseguramiento</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/Formular_1.pdf">Solicitud de baja a las operatorias de débito automático o pago directo (2da parte)</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/CESIONES-LICITUDDEFONDOS1.pdf">Cesiones - Licitud de fondos 1</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/CESIONES-LICITUDDEFONDOS2.pdf?v=2">Cesiones - Licitud de fondos 2</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/CESIONES-LICITUDDEFONDOS3.pdf?v=3">Cesiones - Licitud de fondos 3</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/CircularAVW04-17-LeyDefensaConsumidor-SolicitudesAdhesionSinValorComercial.pdf?v=3">Circular AVW 04-17 - Ley de defensa del consumidor - Solicitudes de adhesión sin valor comercial</a>
		</p>
		<p>
			<img src="~/Content/images/logoPDF.jpg" alt="" />&nbsp;<a class="linkFormulario" target="_blank" href="~/Content/Formularios/SolicitudAdhesionSinValorComercial.pdf?v=3">Solicitud de adhesión sin valor comercial</a>
		</p>

	</span>
</div>
