@{
	ViewBag.Title = "Pago Puntual";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

<style type="text/css">
	.pagoPuntual-Titulo {
		font-family: 'VWHeadWeb-Bold', Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 15px;
		margin-top: 10px;
	}

	.pagoPuntual-Texto {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: 15px;
		margin-top: 10px;
	}
	p {
		margin-top: 10px;
	}
</style>

<div class="infoModelo">
	<a href="#" class="modeloActual">@ViewBag.Title</a>
	<div class="infoModeloTitulos">
		<ul class="">
			<li>|</li>
			<li>
				<span></span>
			</li>
		</ul>
	</div>
</div>

<div style="margin: 10px 9px 9px 9px; display:block; position: relative; height: auto; overflow:hidden;">
	<span class="columnaDerecha">
		<img src="~/Content/images/am0312.jpg" />
		<div class="TituloPagina">@ViewBag.Title</div>


		<div class="pagoPuntual-Titulo">Pago puntual y no Pago más!</div>
		<div class="pagoPuntual-Texto">
			<p>Abonar en término siempre te da beneficios. Por eso durante 2010 y por 5º año consecutivo, continuamos premiándote por cumplir puntualmente con el pago de tus cuotas a través de la promoción PAGO PUNTUAL Y NO PAGO MÁS.</p>
			<p>Participar es muy simple: sólo tenés que abonar tus cuotas antes del vencimiento, y automáticamente participás en un sorteo por la cancelación del saldo pendiente en cuotas de tu plan. (*)</p>
			<p>Pero además, ¡podés aumentar tus posibilidades de ganar!, ya que si te adherís al Débito Automático de las tarjetas Visa, Mastercard, Argencard, Tarjeta Naranja, Italcred, American Express, Tarjeta Más o CMR o a la Operatoria de Pago Directo (Sistema Nacional de Pagos), tenés triple chance de resultar favorecido, y te cancelamos, además del saldo en cuotas, también la Alícuota Extraordinaria (**)</p>
			<br />
			<p>Para adherirte a éstas operatorias sólo necesitás pasar por cualquier Concesionario Oficial de la Red Volkswagen o por el Centro de Atención al Cliente de Autoahorro Volkswagen y completar el formulario respectivo. Si estás adherido, ya estás participando.</p>
		</div>
		<br />

		<div class="pagoPuntual-Titulo">GANADORES 2009</div>
		<div class="pagoPuntual-Texto">
			<div style="float:left"><img src="~/Content/images/GanadoraPagoPuntual.jpg" alt="Ganadora Pago Puntual" /></div>
			<div style="float:left; margin-left: 10px;">
				<b>Angelina Badarini</b><br />
				<span class="pagoPuntual-Texto">
					<b>Cuarto Sorteo</b>: Diciembre /09<br />
					<b>Fecha</b>: 17 de Diciembre de 2009<br />
					<b>Ganadora</b>: Sra. Angelina Badarini<br />
					<b>Grupo</b> 9151 <b>Orden</b> 044 <br />
					<b>Domicilio</b>: Santa Fé, Provincia de Santa Fé<br />
					<b>Premio</b>: cancelación de 67 Alícuotas Puras del plan antes mencionado, por un saldo total de $28.660.<br />
					<b>Concesionario</b>: Matassi e Imperiale S.A.
				</span>
			</div>
		</div>

		<div style="clear:both" />
		<br />

		<div class="pagoPuntual-Titulo">
			BASES y CONDICIONES DE LA PROMOCION<br />
			"PLAN CUMPLIMIENTO - PAGO PUNTUAL Y NO PAGO MAS"<br />
			REGLAMENTO
		</div>
		<div class="pagoPuntual-Titulo">
			</p><u>1) La Promoción</u></p>
		</div>
		<div class="pagoPuntual-Texto">
			<p>
				1.1.) La participación en esta acción denominada "PLAN CUMPLIMIENTO - PAGO PUNTUAL
				Y NO PAGO MAS" (en adelante "la Promoción") implica para sus participantes el conocimiento
				y la aceptación de pleno derecho, incondicional e irrevocable de las presentes Bases
				y Condiciones (en adelante "el Reglamento").
			</p>
			<p>
				1.2.) VOLKSWAGEN S.A. DE AHORRO PARA
				FINES DETERMINADOS (en adelante "el Organizador") se reserva el derecho de interpretar
				este Reglamento a su arbitrio en caso de presentarse situaciones imponderables o
				imprevistas, comunicándolas de inmediato a la respectiva autoridad de aplicación,
				de acuerdo a lo previsto en el Reglamento. Las eventuales modificaciones al Reglamento
				estarán sujetas a la previa aprobación de la autoridad de aplicación.
			</p>
		</div>
		<div class="pagoPuntual-Titulo">
			<p><u>2) Vigencia de la Promoción</u></p>
		</div>
		<div class="pagoPuntual-Texto">
			<p>
				La Promoción tendrá vigencia en toda la República Argentina desde el día 1 de Marzo
				de 2010 hasta el 31 de Diciembre de 2010.
			</p>
		</div>
		<div class="pagoPuntual-Titulo">
			<p><u>3) Participantes y formas de participación</u></p>
		</div>
		<div class="pagoPuntual-Texto">
			<p>
				3.1.) Podrán participar de la Promoción todas aquellas personas jurídicas o físicas
				mayores de dieciocho (18) años y/o menores que acrediten haber obtenido título habilitante
				para el ejercicio de una profesión y que han contratado el Plan con el producido
				de su trabajo, que al día anterior a la fecha del sorteo, tengan domicilio en la
				República Argentina y sean titulares de un Plan de Ahorro que forme parte de un
				grupo de suscriptores administrado por el Organizador, no excluido expresamente
				de la Promoción según lo previsto en estas Bases y Condiciones, cuyas obligaciones
				se encuentren al día, con al menos dos cuotas pagas, que tenga cuotas a vencer pendientes
				de pago, y que no se encuentre rescindido, renunciado ni cancelado (en adelante
				"el Plan").
			</p>
			<p>
				3.2.) También podrán participar en la Promoción, "sin obligación de compra", todas
				aquellas personas físicas mayores de dieciocho (18) años y/o menores que acrediten
				haber obtenido título habilitante para el ejercicio de una profesión y que podrían
				contratar un Plan con el producido de su trabajo que a la fecha del sorteo tengan
				domicilio en la República Argentina y que, habiendo retirado un cupón, que el Organizador
				pondrá a disposición del público a tal efecto, en el horario de atención al público,
				en todos los concesionarios oficiales de Volkswagen Argentina S.A. (en adelante
				"el Cupón"), lo hayan entregado por correo o personalmente, correctamente completado,
				en un concesionario oficial de Volkswagen Argentina S.A. antes del último día hábil
				del mes anterior al del sorteo. En el Cupón deberá consignarse la correcta denominación
				de la Promoción y en letra clara y legible, nombre, apellido, edad, documento de
				identidad (DNI, LC, LE o CI), teléfono, domicilio, localidad, provincia, y código
				postal, debiendo asimismo ser firmado por el Participante, así como visado y sellado
				por el concesionario donde fuera presentado. Se aceptará solamente un Cupón por
				persona y por mes, el cual habilitará a dicha persona para participar por única
				vez en el sorteo a realizarse en el mes posterior a su recepción. Se establece que
				sólo se aceptarán Cupones originales, por lo cual no se aceptarán Cupones reproducidos
				por fotocopias o cualquier otra técnica. La decisión sobre la validez y corrección
				de los datos consignados en los cupones por los Participantes corresponde exclusivamente
				al Organizador y sus resoluciones serán irrecurribles. La falta de cumplimiento
				de algunos de los requisitos premencionados impedirá la participación del Cupón
				enviado con motivo de la Promoción. Sólo se admitirá un Cupón por persona por sorteo.
			</p>
			<p>
				3.3) Quedan expresamente excluidos de la presente Promoción los Planes de Ahorro
				cuyo bien tipo sea un Camión Volkswagen, y los Planes de Ahorro correspondientes
				a Grupos Especiales de Empleados del Organizador o de sus empresas vinculadas.
			</p>
			<p>
				3.4.) Para mayor información acerca de la Promoción, los interesados podrán comunicarse
				telefónicamente al (011) 4317-9066 o accediendo por Internet a la web site www.autoahorro.com.ar.
			</p>
		</div>
		<div class="pagoPuntual-Titulo">
			<p><u>4) Mecánica del Sorteo</u></p>
		</div>
		<div class="pagoPuntual-Texto">
			<p>La mecánica del sorteo por el premio se realizará de la siguiente manera:</p>
			<p>
				4.1) Se asignará una chance por mes a cada titular de un Plan. En caso de ser titular
				de dos o más Planes participará con una chance por cada Plan del que sea titular.
				También participarán de la misma forma, y con una chance, todos aquellos Participantes
				"sin obligación de compra" que hayan entregado un Cupón y hayan cumplido con los
				requisitos establecidos en el punto 3.2. Los Cupones recibidos solo participarán
				en el sorteo que se lleve a cabo en el mes siguiente del que fueran recibidos, y
				no podrán participar en los posteriores sorteos.
			</p>
			<p>
				4.2) Además, se le asignará triple chance adicional de salir ganador, a cada titular
				de un Plan que esté adherido al Débito Automático por tarjeta de crédito, o a la
				Operatoria de Pago Directo (Sistema Nacional de Pagos), para el pago de sus cuotas.
			</p>
			<p>
				4.3) En los casos de titulares de Planes de Ahorro, se le asignará en forma electrónica
				a cada chance un número idéntico al de su identificación de grupo y orden. Asimismo,
				se le asignará un número secuencial a cada chance correspondiente a los sorteos
				de triple chance conforme punto 4.2 y también se asignará un número secuencial a
				cada Cupón "sin obligación de compra". De los números así asignados, habrá de seleccionarse
				al azar y en presencia del escribano público designado por el Organizador, un potencial
				ganador y al menos dos (2) suplentes, mediante un sistema electrónico que los determinará
				en forma aleatoria. En caso que de los registros contables del Organizador no surgiera
				a simple vista que el potencial ganador, o al menos uno de los suplentes, hayan
				cumplido regularmente con sus obligaciones al día del sorteo, se los registrará
				como ganador o suplente "condicional" hasta tanto pueda verificarse que cumple con
				todos los requisitos establecidos en el punto 3.1. En caso que tanto el ganador
				como los suplentes sean "condicionales", se determinará de la misma forma aleatoria
				ya mencionada un nuevo suplente, y así sucesivamente hasta tanto se pueda determinar
				a simple vista que al menos un suplente cumple con los requisitos ya referidos.
				Los Participantes que resulten ganadores de un premio no podrán participar en los
				posteriores sorteos.
			</p>
			<p>
				4.4) Los sorteos correspondientes a la Promoción se realizarán en el lugar y fecha
				donde se lleve a cabo el Acto de Adjudicación que VOLKSWAGEN S.A. DE AHORRO PARA
				FINES DETERMINADOS organiza mensualmente conforme las Condiciones Generales de Contratación.
				En ese sentido, dichos sorteos se llevarán a cabo única y exclusivamente en los
				meses de Marzo, Junio, Septiembre y Diciembre de 2010 respectivamente. Los mismos
				serán comunicados con al menos dos semanas de antelación a la Autoridad de Aplicación.
			</p>
			</p>4.5) La probabilidad de ganar el Premio dependerá de la cantidad de Participantes
			al momento del sorteo, por lo que no resulta posible su predeterminación matemática.
			No obstante y en cumplimiento de las disposiciones reglamentarias aplicables, se
			estima que para obtener el Premio existirá una probabilidad aproximada de 1 en 120.000.</p>
			<p>
				4.6) Se determinará un ganador por sorteo, por lo que el programa total de Premios
				de la Promoción consistirá en la cancelación anticipada de los conceptos referidos
				en el punto 5 de estas bases, o la entrega del certificado de cancelación de cinco
				(5) alícuotas, o los Un Mil Pesos ($ 1.000) en efectivo, según corresponda, por
				cada Premio asignado.
			</p>
		</div>
		<div class="pagoPuntual-Titulo">
			<p><u>5) Premio</u></p>
		</div>
		<div class="pagoPuntual-Texto">
			<p>
				5.1.) El "Premio" consiste únicamente en la cancelación anticipada de la porción
				del vehículo a vencer que se abona en las cuotas mensuales del Plan de Ahorro del
				que el Participante es titular y en razón del cual le fuera asignado el número ganador.
				Quedan excluidos de la referida cancelación anticipada los siguientes conceptos:
				(a) Alícuota Extraordinaria, si el mencionado plan corresponde a alguna de las modalidades
				comerciales denominadas "Planes de Cuota Reducida", (b) Derecho de Adjudicación
				y (c) Los importes impagos al momento del sorteo que corresponden a los rubros que
				se detallan a continuación: (i) Derecho de Admisión y Permanencia; (ii) Recupero
				de Bonificaciones de Alícuotas; (iii) Diferimientos dispuestos por la RG No. 9/02
				de la Inspección General de Justicia; (iv) Impuesto a las Transferencias Financieras.
			</p>
			<p>
				5.2.) En el caso que el número ganador correspondiera a un Plan cuyo titular se
				encuentra adherido a las operatorias de Débito Automático o Pago Directo de acuerdo
				a lo expresado en el punto 4.2.), el premio consistirá, además de la cancelación
				anticipada detallada en el punto 5.1.), de la cancelación anticipada de la alícuota
				extraordinaria en aquellos planes que correspondiera.
			</p>
			<p>
				5.3.) En caso de resultar ganador un participante "sin obligación de compra" que
				depositara un Cupón, el premio consistirá en la entrega de un certificado por seis
				(6) alícuotas puras pagas de un plan de ahorro administrado por el Organizador correspondiente
				al modelo identificado como GOPOB (Gol Power 1.6 3 Puertas Base) para ser aplicado
				a cualquier plan de ahorro administrado por el Organizador, o la entrega de la suma
				de pesos Un Mil ($1.000), a elección del ganador.
			</p>
			<p>
				5.4.) Solo se admitirá la asignación de hasta un máximo de un Premio en la Provincia
				de Salta, durante el Plazo de Vigencia de la Promoción.
			</p>
			<p>
				5.5.) Todos los costos asociados a la adjudicación del Premio (impuestos, sellados,
				tasas y gratuidades), serán a cargo exclusivo del ganador del sorteo, así como también
				cualquier otro gasto adicional y/o trámite que no se encuentre expresamente previsto
				en el presente Reglamento.
			</p>
			</p>5.6.) En caso de corresponder el impuesto sobre premios (Ley 20.630) o cualquier
			otro impuesto, tasa o gravamen aplicable sobre el Premio será a cargo exclusivo
			del ganador.</p>
			<p>
				5.7.) El Premio es intransferible y personal del ganador, quien no tendrá derecho
				a requerir el canje del Premio por dinero efectivo ni es redimible por ninguna otra
				prestación o servicio, salvo lo previsto en el punto 5.3.
			</p>
			<p>
				5.8.) Todo Premio asignado y no reclamado por su ganador dentro del plazo previsto
				en estas bases será transferido por el Organizador a la orden del Ministerio de
				Desarrollo Social y Medio Ambiente en la forma jurídica que corresponda.
			</p>
			<p>5.9.) Los Premios no asignados, si los hubiera, quedarán en poder del Organizador.<p>
		</div>
		<div class="pagoPuntual-Titulo">
			<p><u>6) Comunicación al ganador</u></p>
		</div>
		<div class="pagoPuntual-Texto">
			<p>
				6.1.) El Participante favorecido en el sorteo será notificado en el acto del sorteo,
				en caso de estar presente, o por telegrama, carta documento, notificación notarial
				o cualquier otro medio fehaciente en caso contrario, dentro de los diez (10) días
				hábiles de efectuado el sorteo. Esta notificación será cursada al domicilio denunciado
				en el Plan, o el registrado en el Cupón, en su caso.
			</p>
			<p>
				6.2.) El potencial ganador deberá presentarse dentro de los veinte (20) días corridos
				subsiguientes a la recepción de la notificación en el Domicilio del Organizador,
				sito en Avda. Henry Ford y Delcasse, Provincia de Buenos Aires, o en el domicilio
				que se le indique, dentro del horario de atención al público, a efectos de aceptar
				y hacer efectiva la adjudicación del Premio.
			</p>
			<p>
				6.3.) Como pre-requisito para la adjudicación del Premio, los Participantes favorecidos
				deberán contestar correctamente al menos dos (2) de tres (3) preguntas de interés
				o cultura general. Adicionalmente, los Participantes deberán cumplir con lo dispuesto
				en el punto 6.2.) y con todo aquello previsto en el presente Reglamento como requisito
				de participación, todo lo cual importará la adjudicación definitiva del Premio.
			</p>
			<p>
				6.4.) El Premio se entregará dentro de los treinta (30) días posteriores a la asignación
				definitiva del mismo, conforme lo dispuesto en el Reglamento.
			</p>
			<p>
				El Premio consistirá en la entrega de la constancia que acredite la cancelación
				anticipada de cuotas o en la entrega de la solicitud de adhesión con cinco (5) alícuotas
				pagas, que deberá ser firmada por cada ganador, o en la entrega de la suma de Mil
				Pesos ($ 1000), en cheque a nombre del ganador, según corresponda en cada caso.
			</p>
			<p>
				Para los casos en que los ganadores resultaran adjudicatarios de los vehículos correspondientes
				a cada Plan, regirán los requisitos de adjudicación y plazos de entrega previstos
				en las Condiciones Generales de Adhesión del Plan.
			</p>
		</div>
		<div class="pagoPuntual-Titulo">
			<p><u>7) Otras cláusulas</u></p>
		</div>
		<div class="pagoPuntual-Texto">
			<p>
				7.1.) Por la sola participación en la Promoción, los Participantes y quien resulte
				ganador autorizan expresa e irrevocablemente al Organizador a difundir y/o publicar
				sus nombres, datos de identificación y/o divulgar sus imágenes fotográficas y/o
				filmadas en los medios y/o en las formas y medios de difusión masiva que considere
				convenientes, sin derecho a compensación alguna hasta el treinta y uno (31) de diciembre
				de 2011. Los datos personales brindados a través de los medios de acceso para la
				participación en esta promoción, serán objeto de tratamiento automatizado e incorporados
				a la base de datos de titularidad de Volkswagen S.A. de Ahorro Para Fines Determinados,
				con domicilio en Maipú 267, piso 11 de la Ciudad de Buenos Aires. La provisión de
				los datos por parte de los Participantes de la Promoción es voluntaria, sin perjuicio
				de ser un requisito necesario para participar en la Promoción. El titular de los
				datos personales tiene la facultad de ejercer el derecho de acceso a los mismos
				en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite
				un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso
				3 de la Ley Nº25.326. La Dirección Nacional de Protección de Datos Personales, órgano
				de control de la Ley Nº25.326 tiene la atribución de atender las denuncias y reclamos
				que se interpongan con relación al incumplimiento de las normas sobre protección
				de datos personales. El registro y participación en la Promoción implicará el otorgamiento
				por parte del PARTICIPANTE, del consentimiento previsto en los artículos 5° y 11°
				de la Ley 25.326."
			</p>
			<p>
				7.2.) No podrán participar en la Promoción aquellas personas sin plena capacidad
				para contratar, ni los empleados de VOLKSWAGEN S.A. de AHORRO PARA FINES DETERMINADOS,
				VOLKSWAGEN ARGENTINA S.A., VOLKSWAGEN CREDIT COMPANIA FINANCIERA S.A., ni de sus
				empresas vinculadas, ni de sus agencias de publicidad y promoción, ni de los concesionarios
				oficiales de Volkswagen Argentina S.A., ni sus correspondientes familiares en primer
				grado de consanguinidad, en todos los casos con relación laboral vigente a la fecha
				de inicio de la "Promoción".
			</p>
			<p>
				7.3.) Las bases y condiciones que conforman el Reglamento de la presente Promoción
				se encuentran disponibles para su consulta en el domicilio del Organizador, en los
				Concesionarios Oficiales de la Red Volkswagen y en la web site: www.autoahorro.com.ar.
			</p>
			</p>7.4.) Los gastos en que los ganadores debieran incurrir para el reclamo y/o retiro
			de los premios serán a su exclusivo cargo.</p>
			<p>
				7.5.) El Organizador no será responsable en ningún caso por cualquier defecto en
				la calidad de los premios adjudicados ni por cualquier daño derivado de su uso y
				disfrute. Cualquier reclamo deberá dirigirse a los responsables de las garantías
				correspondientes.
			</p>
			<p>
				8.) Para cualquier controversia derivada de la presente Promoción, los participantes
				aceptan someterse a la jurisdicción de los Tribunales Ordinarios en lo Comercial
				de la Cuidad de Buenos Aires, renunciando en forma indeclinable a todo otro fuero
				o jurisdicción que pudiere corresponderles.
			</p>
		</div>	</span>
</div>
