
@{
    ViewBag.Title = "AutoAhorro";
    Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

<style type="text/css">
	p {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 15px;
		text-align: justify;
		padding: 10px;
	}

	.ULNivel1 {
		margin-bottom: 3px;
		margin-left: 15px;
	}

	.LINivel1 {
		font-family: 'VWHeadWeb-Bold', Arial, Helvetica, sans-serif;
		font-size: 14px;
		display: list-item !important;
		list-style-image: url('../../../../Content/images/arrow_orange.gif') !important;
		list-style-position: outside;
		line-height: 15px;
		margin-left: 15px;
		margin-top: 15px;
	}

	.ULNivel2 {
		margin-left: 15px;
	}

	.LINivel2 {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: normal;
		display: list-item !important;
		list-style-type: disc;
		list-style-position: outside;
		margin-bottom: 5px;
		margin-left: 15px;
		margin-top: 15px;
	}
</style>

<div class="infoModelo">
	<a href="#" class="modeloActual">@ViewBag.Title</a>
	<div class="infoModeloTitulos">
		<ul class="">
			<li>|</li>
			<li>
				<span></span>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 10px 9px 9px 9px; display:block; position: relative; height: auto; overflow:hidden;">
	<div class="columnaIzquierda">
		&nbsp;
	</div>
	<div class="columnaDerecha">
		<div style="text-align:center;">
			<img src="~/Content/images/Autoahorro20170809.jpg" />
		</div>
		<div class="TituloPagina">@ViewBag.Title</div>

		<ul class="ULNivel1">
			<li class="LINivel1">
				¿ Qué es el Plan de Ahorro ?
				<ul class="ULNivel2">
					<li class="LINivel2">El plan de ahorro es la forma más económica y eficaz para llegar a la compra un Volkswagen 0km, ya que es la única financiación en pesos, sin interés y directa de fábrica.</li>
				</ul>
			</li>
		</ul>

		<ul class="ULNivel1">
			<li class="LINivel1">
				¿ Cuánto puedo pagar en cuotas con el Plan de Ahorro ?
				<ul class="ULNivel2">
					<li class="LINivel2">Se puede pagar el 60%, el 70% ó hasta el 100% de un Volkswagen 0km en cuotas, el plazo máximo es de 84 cuotas. También puede adelantar cuotas de atrás para adelante, o sea cuota 84, 83, 82, etc? y por cada cuota que adelante Ud. se ahorra los gastos administrativos y el seguro de vida, o sea, paga solamente "Cuota Pura"</li>
				</ul>
			</li>
		</ul>

		<ul class="ULNivel1">
			<li class="LINivel1">
				¿ Que es la cuota pura ?
				<ul class="ULNivel2">
					<li class="LINivel2">Es la parte de auto que integra cada cuota mensual sin tener en cuenta ningún gasto adicional.</li>
				</ul>
			</li>
		</ul>

		<ul class="ULNivel1">
			<li class="LINivel1">
				¿ Cómo funciona el Plan de Ahorro ?
				<ul class="ULNivel2">
					<li class="LINivel2">Una vez que suscribe un plan deberá esperar entre 30 y 60 días para recibir la cuota nro 2 y cuando la reciba ya va a pertenecer a un grupo formado y cerrado. Cada grupo entrega 2 Volkswagen 0km por mes, 1 por sorteo y 1 por licitación. Cada ganador que retire su Volkswagen 0km sale automáticamente del grupo y dicho grupo se hace cada mes menor, aumentando las posibilidades y acercándolo cada vez más a su Volkswagen 0 km.</li>
				</ul>
			</li>
		</ul>

		<ul class="ULNivel1">
			<li class="LINivel1">
				¿ Qué es "sorteo" ?
				<ul class="ULNivel2">
					<li class="LINivel2">Al recibir su cuota Ud. cuenta con un Nro de Grupo y un Nro de Orden. Con ese Nro de Orden entra en un sorteo mensual solo entre los integrantes que aun no han ganado de su grupo. En caso de que gane, nuestro Concesionario se comunicara inmediatamente para darle la noticia y ponerlo al tanto de los pasos a seguir.</li>
				</ul>
			</li>
		</ul>

		<ul class="ULNivel1">
			<li class="LINivel1">
				¿ Qué es "licitación" ?
				<ul class="ULNivel2">
					<li class="LINivel2">Ud. tiene la posibilidad de manera mensual de presentar en nuestro Concesionario un importe que Ud determine y que enviaremos a Volkswagen como su oferta. Dentro del grupo al que Ud pertenece el cliente cuya oferta sea la mas alta sera el ganador. Luego el concesionario le comunicara como seguir.</li>
				</ul>
			</li>
		</ul>

		<ul class="ULNivel1">
			<li class="LINivel1">
				Todo un equipo a su disposición.
				<ul class="ULNivel2">
						<li class="LINivel2">Contamos con un equipo de asesores calificados que pueden evacuarle cualquier duda o consulta. Comuniquese con nosotros al 0810-888- 7332, o haga click <h1>aquí</h1></li>
				</ul>
			</li>
		</ul>

	</div>
</div>