@using Matassi.Dominio

@{
	ViewBag.Title = "Servicios de Inspección";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

<style type="text/css">
	p {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 15px;
		text-align: justify;
		padding: 10px;
	}

	.tablaGarantia, .tablaMotorizacion {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 12px;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	.trTitulo {
		background-color: #CCCCD1;
		line-height: 20px;
	}
	.trTitulo td {
		text-align: center;
	}

	.trImpar {
		background-color: #F0F0F5;
		line-height: 20px;
	}

	.trPar {
		background-color: #FFF;
		line-height: 20px;
	}

		.trImpar td,
		.trPar td {
			text-align: center;
		}

		.trImpar td.al, 
		.trPar td.al {
			text-align: left;
			padding-left: 7px;
		}
</style>


<div class="infoModelo">
	<a href="#" class="modeloActual">@ViewBag.Title</a>
	<div class="infoModeloTitulos">
		<ul class="">
			<li>|</li>
			<li>
				<span></span>
			</li>
		</ul>
	</div>
</div>

<div style="margin: 10px 9px 9px 9px; display:block; position: relative; height: auto; overflow:hidden;">
	<div class="columnaIzquierda">
		&nbsp;
	</div>
	<div class="columnaDerecha">
		<img src="~/Content/images/SaveiroAsesoramiento.jpg" />
		<div class="TituloPagina">@ViewBag.Title</div>

		<p>
			Cuando su unidad ingresa en nuestro taller, esta siendo atendida por mano de obra calificada, con mas de 100 hs anuales de cursos intensivos y con los mas altos estandares de calidad que exige ser ISO 9001.
		</p>

		<p>
			Detallamos para su conocimiento todos los items que son revisados en cada Volkswagen:
		</p>

		<br />


		<table class="tablaGarantia">
			<tr class="trTitulo">
				<td>
					<b>Motorización</b>
				</td>
				<td>
					<b>Obligatorio</b>
				</td>
				<td>
					<b>Recomendado</b>
				</td>
			</tr>
			<tr class="trImpar">
				<td>Diesel</td>
				<td>Cada 7.500 km</td>
				<td>Cada 7.500 km</td>
			</tr>
			<tr class="trPar">
				<td>Amarok</td>
				<td>Cada 10.000 km</td>
				<td>Cada 10.000 km</td>
			</tr>
			<tr class="trImpar">
				<td>Nafta</td>
				<td>Cada 15.000 km</td>
				<td>Cada 10.000 km</td>
			</tr>
		</table>

		<br /><br />

		<table class="tablaGarantia">
			<tr class="trTitulo">
				<td>
					<b>SERVICIO DE MANTENIMIENTO - DETALLE DE TRABAJOS A REALIZAR</b>
				</td>
			</tr>
			@{
				bool esImpar = true;

				foreach (ServicioMantenimiento servicioMantenimiento in ViewBag.ServiciosMantenimiento)
				{
					if (esImpar)
					{
						<tr class="trImpar"><td class="al">@servicioMantenimiento.DesServicioMantenimiento</td></tr>
					}
					else
					{
						<tr class="trPar al"><td class="al">@servicioMantenimiento.DesServicioMantenimiento</td></tr>
					}

					esImpar = !esImpar;
				}
			}
		</table>

	</div>
</div>

