@{
	ViewBag.Title = "Yo Cuido Mi Volkswagen";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

<style type="text/css">
	p {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 15px;
		text-align: justify;
		padding: 10px;
	}

	.tablaGarantia {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 14px;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	.trTitulo {
		background-color: #CCCCD1;
		line-height: 20px;
	}

	.trImpar {
		background-color: #F0F0F5;
		line-height: 20px;
	}

	.trPar {
		background-color: #FFF;
		line-height: 20px;
	}

	.columnaDerecha {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 14px;
	}

	.barraOriginal {
		display: list-item !important;
		list-style-position: outside;
		list-style-type: disc;
		line-height: 15px;
		margin-bottom: 3px;
		margin-left: 30px;
	}

		.barraOriginal LI {
			display: list-item !important;
			list-style-position: outside;
			font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
			margin-top:10px;
		}
</style>

<div class="infoModelo">
	<a href="#" class="modeloActual">@ViewBag.Title</a>
	<div class="infoModeloTitulos">
		<ul class="">
			<li>|</li>
			<li>
				<span></span>
			</li>
		</ul>
	</div>
</div>

<div style="margin: 10px 9px 9px 9px; display:block; position: relative; height: auto; overflow:hidden;">
	<div class="columnaDerecha">
		<div class="TituloPagina">@ViewBag.Title</div>
		<img src="~/Content/images/am0312.jpg" />

		<div style="text-align:center; color: #00F; font-family: 'VWHeadWeb-Bold'; margin-top: 30px;">
			ACCESORIOS NO ORIGINALES<br /><br />
			DAÑOS A VEHICULOS AMAROK
		</div>
		<div style="text-align:center; color: #F00; font-family: 'VWHeadWeb-Bold'; margin-top: 30px;">
			PERDIDA INMEDIATA DE GARANTIA
		</div>

		<p style="font-family:'VWHeadWeb-Bold'">
			1. BARRA DE ACERO INOXIDABLE
		</p>

		<p>
			La barra original Volkswagen pesa 23 kg que están repartidos en mas de 80 cm de apoyo sobre la caja de carga y los caños que la forman no están sujetos uno con otro salvo por el distintivo, el cual permite torsión entre los mismos.
		</p>

		<p>
			Las barras no originales pesan mucho mas, el peso esta repartido en menos de 50 cm, los caños son fijos y no permiten ningún tipo de torsión esto ocasiona:
			<ul class="barraOriginal">
				<li>
					Agujerear la caja de carga y perdida inmediata de garantía de pintura y Cataforesis por agujeros no congruentes.
				</li>
				<li>
					Posible aparición de oxido en lugares inadecuados de contacto con la caja.
				</li>
				<li>
					Abolladuras en los extremos de la caja por falta de torsión.
				</li>
				<li>
					Amplia diferencia estética.
				</li>
				<li>
					70 % menos de vida útil.
				</li>
				<li>
					Oxido de la barra, materiales no tratados adecuadamente.
				</li>
				<li>
					En algunos casos obstrucción de tercera luz de Stop.
				</li>
			</ul>
		</p>

		<p style="font-family:'VWHeadWeb-Bold'">
			2. COBERTOR DE CAJA DE CARGA
		</p>

		<p>
			El protector de la caja de carga original esta estampado sobre placas de origen Americano de la mas alta calidad, totalmente congruente con los agarres de la caja y la toma de 12 V. Las líneas en relieve del mismo esta especialmente diseñadas para el cuidado de la caja y el menor roce posible. La colocación del mismo es 100 % autoadhesiva con garantía completa de durabilidad.
		</p>

		<p>
			Los protectores NO ORIGINALES estan realizados en un material mucho mas barato y causan los siguientes daños:
			<ul class="barraOriginal">
				<li>
					Las líneas de relieve rayan y desgastan la pintura de la caja.
				</li>
				<li>
					80 % menos de Vida útil
				</li>
				<li>
					Para la colocación se debe agujerear la caja y la tapa. Perdida total de garantía de pintura y cataforesis. Entrada de agua y tierra dentro de la carroceria.
				</li>
				<li>
					Al no coincidir con los agarres y la toma de 12 V esto permite el ingreso de agua y tierra debajo del mismo.
				</li>
				<li>
					La mayoría de los modelos cubren los perfiles de caja, lo que produce la perdida de pintura por roce continuo. Los ORIGINALES encastran bajo los perfiles y los protectores para este sector viene como otro accesorio que se mueven junto con la caja y se colocan 100 % autoadhesivos.
				</li>
			</ul>
		</p>

		<p style="font-family:'VWHeadWeb-Bold'">
			3. LONA MARITIMA
		</p>

		<p>
			La lona ORIGINAL esta realizada con el material de mas alta calidad que existe en el mercado a diferencia de las alternativas.
		</p>

		<p>
			No es necesario agujerear la caja ya que se coloca por medio de anclajes exteriores.
		</p>

		<p>
			No se deforma, no se estira, no crea bateas por exceso de agua en días de lluvia.
		</p>

		<p>
			No realiza modificación en la caja de carga por lo que puede retirarse en cualquier momento sin dejar daños a la vista.
		</p>

		<p>
			Las Lonas NO ORIGINALES  producen los siguientes daños :
			<ul class="barraOriginal">
				<li>
					Agujeros en caja de carga produciendo la pérdida inmediata de la garantía en pintura y cataforesis, permitiendo el ingreso de agua y tierra dentro de la carrocería.
				</li>
				<li>
					El material se estira y deforma.
				</li>
				<li>
					50 % menos de vida útil
				</li>
				<li>
					Formación de bateas en días de lluvia. Deformación de soportes y cruceros.
				</li>
			</ul>
		</p>

		<p style="font-family:'VWHeadWeb-Bold'">
			4. ESTRIBOS
		</p>

		<p>
			Los estribos ORIGINALES están diseñados para su colocación sin agujerear el chasis y técnicamente desarrollados para su desprendimiento en caso de impacto lateral.
		</p>

		<p>
			Los estribos NO ORIGINALES producen los siguientes daños:
			<ul class="barraOriginal">
				<li>
					Se debe agujerear el chasis para su colocación lo que debilita el mismo.
				</li>
				<li>
					Los soportes son fijos y en caso de impacto lateral no se desprenden por lo que deforman el chasis en caso de colisión.
				</li>
				<li>
					Los tornillos de los soportes se colocan sobre la cañería del circuito de combustible, lastimando la misma, ocasionando goteos y cambio de la misma.
				</li>
				<li>
					No permiten colocar la unidad en el elevador del Taller, habiendo que desmontar los mismos, aumentando el costo de Mano de Obra en servicios de inspección y reparaciones.
				</li>
			</ul>
		</p>

		<div style="text-align:center; color: #F00; font-family: 'VWHeadWeb-Bold'; margin-top: 30px;">
			Su inversión sobre una Pick Up AMAROK merece la utilización de equipamiento acorde.
			<br />
			NO PIERDA LA GARANTIA DE SU UNIDAD.
		</div>
		<div style="text-align:center; color: #00F; font-family: 'VWHeadWeb-Bold'; margin-top: 30px;">
			COLOQUE SOLO REPUESTOS Y ACCESORIOS ORIGINALES
		</div>
	</div>
</div>