@{
	ViewBag.Title = "up";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

@section scripts {
	@Styles.Render("~/bundles/estilosCSSModelo")
	@Scripts.Render("~/bundles/funcionesModelo")
}

<div id="divBannerTituloModelo">
	<span id="spnTituloModelo">
		Golf GTI
	</span>
</div>
<div id="divBannerTituloCaracteristicasModelo">
	<ul id="ulListaCaracteristicasModelo">
		<li class="liDeportividad" data-divmodelos="divDeportividad">Deportividad</li>
		<li class="liPerformance" data-divmodelos="divPerformance">Performance</li>
		<li class="liDestacados" data-divmodelos="divDestacados">Destacados</li>
	</ul>
</div>

<div id="divImagenModelo">
	<img src="~/Content/info_modelos/golf_gti/golf_gti.jpg" class="imgResponsiva" />
</div>

<div id="divTituloModelo">
	Un auténtico purasangre
</div>

<!----------------------------------LISTA DE CARACTERISTICAS---------------------------------->
<div class="CaracteristicasCelular" id="divHeaderCaracteristicas">
	<div class="iconoDesplegar">
		<img src="~/Content/img/iconos/flechaDerecha.svg" class="svg imgResponsiva abajo" />
		<span>
			Selecciona categoria
		</span>
	</div>
	<ul class="oculto">
		<li class="liDeportividad" data-divmodelos="divDeportividad">Deportividad</li>
		<li class="liPerformance" data-divmodelos="divPerformance">Performance</li>
		<li class="liDestacados" data-divmodelos="divDestacados">Destacados</li>
	</ul>
</div>


<!----------------------------------DEPORTIVIDAD---------------------------------->
<div id="divDeportividad" class="SeccionModelo">
	<div class="TituloSeccion">
		Nuevo Golf GTI
	</div>

	<hr class="hrSeparadorItemsSeccion" />

	<div class="Imagenes2Columnas">

		<div class="iconoDesplegarSeccion">
			<img src="~/Content/img/iconos/flechaDerecha.svg" class="svg imgResponsiva" />
			<span>Diseño</span>
		</div>

		<div class="Imagenes2Columnas-Izquierda">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen visibleCelular">
				<img src="~/Content/info_modelos/golf_gti/Deportividad/Deportividad01.jpg" class="imgResponsiva" />
			</div>
			<div class="infoTextoColumna">
				<h5>
					Diseño
				</h5>
				<h3 class="div-Tecnologia-Imagenes-Zig-Zag-SubTitulo">
					Legendario
				</h3>
				<p class="div-Tecnologia-Imagenes-Zig-Zag-Texto">
					El Nuevo Golf GTI es mucho más que un vehículo, es sinónimo de equipamiento de alta calidad y diseño perfectamente combinados.
				</p>
			</div>
		</div>

		<div class="Imagenes2Columnas-Derecha ocultoCelular">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen">
				<img src="~/Content/info_modelos/golf_gti/Deportividad/Deportividad01.jpg" class="imgResponsiva" />
			</div>
		</div>
	</div>

	<hr class="hrSeparadorItemsSeccion" />

	<div class="Imagenes2Columnas">

		<div class="iconoDesplegarSeccion">
			<img src="~/Content/img/iconos/flechaDerecha.svg" class="svg imgResponsiva" />
			<span>Deportivo</span>
		</div>

		<div class="Imagenes2Columnas-Izquierda">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen">
				<img src="~/Content/info_modelos/golf_gti/Deportividad/Deportividad02.jpg" class="imgResponsiva" />
			</div>
		</div>

		<div class="Imagenes2Columnas-Derecha ocultoCelular">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen visibleCelular">
				<img src="~/Content/info_modelos/golf_gti/Deportividad/Deportividad02.jpg" class="imgResponsiva" />
			</div>
			<div class="infoTextoColumna">
				<h5>
					Deportivo
				</h5>
				<h3 class="div-Tecnologia-Imagenes-Zig-Zag-SubTitulo">
					Comprometido
				</h3>
				<p class="div-Tecnologia-Imagenes-Zig-Zag-Texto">
					Subite al Nuevo Golf GTI y sentí cómo tu mirada se pierde en el universo de detalles exclusivos: tapizado, pedales de aluminio, display multifunción Premium y volante GTI. Una combinación perfecta de confort y diseño.
				</p>
			</div>
		</div>
	</div>

	<hr class="hrSeparadorItemsSeccion" />


</div>

<!----------------------------------PERFORMANCE---------------------------------->
<div id="divPerformance" class="SeccionModelo">
	<div class="TituloSeccion">
		0 a 100 km/h en 6,5 segundos
	</div>

	<hr class="hrSeparadorItemsSeccion" />

	<div class="Imagenes2Columnas">

		<div class="iconoDesplegarSeccion">
			<img src="~/Content/img/iconos/flechaDerecha.svg" class="svg imgResponsiva" />
			<span>Motor</span>
		</div>

		<div class="Imagenes2Columnas-Izquierda">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen visibleCelular">
				<img src="~/Content/info_modelos/golf_gti/Performance/Performance01.jpg" class="imgResponsiva" />
			</div>
			<div class="infoTextoColumna">
				<h5>
					Motor
				</h5>
				<h3 class="div-Tecnologia-Imagenes-Zig-Zag-SubTitulo">
					Máximas prestaciones
				</h3>
				<p class="div-Tecnologia-Imagenes-Zig-Zag-Texto">
					En el Nuevo Golf GTI, la potencia es importante. Con su motor 2.0 TSI y junto a sus 230CV, el vehículo puede alcanzar una velocidad máxima de 246km/h. A su prestación se suman dos componentes fundamentales: doble caño de escape y llantas de 18".
				</p>
			</div>
		</div>

		<div class="Imagenes2Columnas-Derecha ocultoCelular">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen">
				<img src="~/Content/info_modelos/golf_gti/Performance/Performance01.jpg" class="imgResponsiva" />
			</div>
		</div>
	</div>

	<hr class="hrSeparadorItemsSeccion" />

	<div class="Imagenes2Columnas">

		<div class="iconoDesplegarSeccion">
			<img src="~/Content/img/iconos/flechaDerecha.svg" class="svg imgResponsiva" />
			<span>GTI Performance</span>
		</div>

		<div class="Imagenes2Columnas-Izquierda">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen">
				<img src="~/Content/info_modelos/golf_gti/Performance/Performance02.jpg" class="imgResponsiva" />
			</div>
		</div>

		<div class="Imagenes2Columnas-Derecha ocultoCelular">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen visibleCelular">
				<img src="~/Content/info_modelos/golf_gti/Performance/Performance02.jpg" class="imgResponsiva" />
			</div>
			<div class="infoTextoColumna">
				<h5>
					GTI Performance
				</h5>
				<h3 class="div-Tecnologia-Imagenes-Zig-Zag-SubTitulo">
					Potente
				</h3>
				<p class="div-Tecnologia-Imagenes-Zig-Zag-Texto">
					La dirección progresiva del Golf GTI hacen que la conducción sea más que agradable, incluso por curvas sinuosas en donde se destaca la dinámica de conducción y la tracción. Potente como pocos.
				</p>
			</div>
		</div>
	</div>

	<hr class="hrSeparadorItemsSeccion" />

</div>

<!----------------------------------DESTACADOS---------------------------------->
<div id="divDestacados" class="SeccionModelo">
	<div class="TituloSeccion">
		¿Estás preparado para tanta potencia?
	</div>

	<hr class="hrSeparadorItemsSeccion" />

	<div class="Imagenes2Columnas">

		<div class="iconoDesplegarSeccion">
			<img src="~/Content/img/iconos/flechaDerecha.svg" class="svg imgResponsiva" />
			<span>Conducción Pura</span>
		</div>

		<div class="Imagenes2Columnas-Izquierda">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen">
				<img src="~/Content/info_modelos/golf_gti/Destacados/Destacados01.jpg" class="imgResponsiva" />
			</div>
		</div>

		<div class="Imagenes2Columnas-Derecha ocultoCelular">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen visibleCelular">
				<img src="~/Content/info_modelos/golf_gti/Destacados/Destacados01.jpg" class="imgResponsiva" />
			</div>
			<div class="infoTextoColumna">
				<h5>
					Conducción Pura
				</h5>
				<h3 class="div-Tecnologia-Imagenes-Zig-Zag-SubTitulo">
					Interior
				</h3>
				<p class="div-Tecnologia-Imagenes-Zig-Zag-Texto">
					Que nada te detenga. Tus viajes en el Golf GTI están acompañados por el sistema Discover Pro, volante deportivo de cuero, 7 airbags, techo panorámico, cámara de retroceso, cruise control y encendido por botón, entre otros.
				</p>
			</div>
		</div>
	</div>

	<hr class="hrSeparadorItemsSeccion" />

	<div class="Imagenes2Columnas">

		<div class="iconoDesplegarSeccion">
			<img src="~/Content/img/iconos/flechaDerecha.svg" class="svg imgResponsiva" />
			<span>Conducción Pura</span>
		</div>

		<div class="Imagenes2Columnas-Izquierda">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen visibleCelular">
				<img src="~/Content/info_modelos/golf_gti/Destacados/Destacados02.jpg" class="imgResponsiva" />
			</div>
			<div class="infoTextoColumna">
				<h5>
					Conducción Pura
				</h5>
				<h3 class="div-Tecnologia-Imagenes-Zig-Zag-SubTitulo">
					Exterior
				</h3>
				<p class="div-Tecnologia-Imagenes-Zig-Zag-Texto">
					Lo último en tecnología y diseño automovilístico en tus viajes. Disfrutá sus exclusivos componentes funcionales como los sensores de estacionamiento, los faros antiniebla y Full LED, y un paragolpes deportivo con mucha personalidad.
				</p>
			</div>
		</div>

		<div class="Imagenes2Columnas-Derecha ocultoCelular">
			<div class="div-Tecnologia-Imagenes-Zig-Zag-Imagen">
				<img src="~/Content/info_modelos/golf_gti/Destacados/Destacados02.jpg" class="imgResponsiva" />
			</div>
		</div>
	</div>

	<hr class="hrSeparadorItemsSeccion" />

</div>


<!--BROCHURE-->
<div id="divBrochure">
	<div id="div-Brochure-Info">
		<h2>Brochure<br />de Golf GTI</h2>
		<a href="~/Content/info_modelos/golf_gti/Brochure/Brochure.pdf" rel="external" class="linkDescargarBrochure" target="_blank">
			<div id="div-Brochure-Boton">
				<div id="div-Brochure-Boton-Inner">Descargalo</div>
			</div>
		</a>
	</div>
	<div id="div-Brochure-Imagen">
		<img src="~/Content/info_modelos/golf_gti/Brochure/Brochure.jpg" class="imgResponsiva" />
	</div>
</div>