@{
    ViewBag.Title = "Inicio";
    Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

@section scripts {
    <script src="../Content/js/matassi-modelos.js?v=2"></script>
}

<div id="divBannerModelos">
	<ul id="ulListaTiposModelos">
		<li class="liCompactos" data-divmodelos="divCompactos">Compacto</li>
		<li class="liSedanes" data-divmodelos="divSedanes">Sedanes</li>
		<li class="liFamiliares" data-divmodelos="divFamiliares">Familiares</li>
		<li class="liSuv" data-divmodelos="divSuv">SUV</li>
		<li class="liSmallPickUp" data-divmodelos="divSmallPickUp">Small Pick-Up</li>
		<li class="liComerciales" data-divmodelos="divComerciales">Comerciales</li>
		<li class="liPerformance" data-divmodelos="divPerformance">Performance</li>
	</ul>
</div>

<div class="divTituloModelos">
    Modelos
</div>

<!--Imágenes grandes -->
<div id="divTodosLosModelos2">
	<div id="divCompactos">
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/up" rel="external">
				<div class="divTodosLosModelosModeloIzquierda">
					<img src="~/content/info_modelos/up/up-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						UP!
					</div>
				</div>
			</a>
			<a href="/modelo/gol" rel="external">
				<div class="divTodosLosModelosModeloDerecha">
					<img src="~/content/info_modelos/gol/gol-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Gol
					</div>
				</div>
			</a>
		</div>
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/fox" rel="external">
				<div class="divTodosLosModelosModeloIzquierda">
					<img src="~/content/info_modelos/fox/fox-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Fox
					</div>
				</div>
			</a>
			<a href="/modelo/golf" rel="external">
				<div class="divTodosLosModelosModeloDerecha">
					<img src="~/content/info_modelos/golf/golf-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Golf
					</div>
				</div>
			</a>
		</div>
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/the_beetle" rel="external">
				<div class="divTodosLosModelosModeloIzquierda">
					<img src="~/content/info_modelos/the_beetle/beetle-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						The Beetle
					</div>
				</div>
			</a>
			<a href="/modelo/scirocco" rel="external">
				<div class="divTodosLosModelosModeloDerecha">
					<img src="~/content/info_modelos/scirocco/scirocco-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Scirocco
					</div>
				</div>
			</a>
		</div>
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/nuevo_polo" rel="external">
				<div class="divTodosLosModelosModeloIzquierda">
					<img src="~/content/info_modelos/nuevo_polo/nuevo_polo-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Nuevo Polo
					</div>
				</div>
			</a>
			<a href="/modelo/golf_gti" rel="external">
				<div class="divTodosLosModelosModeloDerecha">
					<img src="~/content/info_modelos/golf_gti/golf_gti-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Golf Gti
					</div>
				</div>
			</a>
		</div>
	</div>
	<div id="divSedanes">
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/voyage" rel="external">
				<div class="divTodosLosModelosModeloIzquierda">
					<img src="~/content/info_modelos/voyage/voyage-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Voyage
					</div>
				</div>
			</a>
			<a href="/modelo/polo" rel="external">
				<div class="divTodosLosModelosModeloDerecha">
					<img src="~/content/info_modelos/polo/polo-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Polo
					</div>
				</div>
			</a>
		</div>
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/nuevo_vento" rel="external">
				<div class="divTodosLosModelosModeloIzquierda">
					<img src="~/content/info_modelos/nuevo_vento/vento-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Vento
					</div>
				</div>
			</a>
			<a href="/modelo/passat" rel="external">
				<div class="divTodosLosModelosModeloDerecha">
					<img src="~/content/info_modelos/passat/passat-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Passat
					</div>
				</div>
			</a>
		</div>
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/nuevo_virtus">
				<div class="divTodosLosModelosModeloIzquierdaYDerecha">
					<img src="~/content/info_modelos/nuevo_virtus/virtus-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Nuevo Virtus
					</div>
				</div>
			</a>
		</div>
	</div>
	<div id="divFamiliares">
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/suran" rel="external">
				<div class="divTodosLosModelosModeloIzquierda">
					<img src="~/content/info_modelos/suran/suran-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Suran
					</div>
				</div>
			</a>
			<a href="/modelo/golf_variant" rel="external">
				<div class="divTodosLosModelosModeloDerecha">
					<img src="~/content/info_modelos/golf_variant/golf-variant-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Golf Variant
					</div>
				</div>
			</a>
		</div>
	</div>
	<div id="divSuv">
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/nuevo_tiguan_allspace" rel="external">
				<div class="divTodosLosModelosModeloIzquierda">
					<img src="~/content/info_modelos/nuevo_tiguan_allspace/tiguan-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Nuevo Tiguan Allspace
					</div>
				</div>
			</a>
			<a href="/modelo/touareg" rel="external">
				<div class="divTodosLosModelosModeloDerecha">
					<img src="~/content/info_modelos/touareg/touareg-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Touareg
					</div>
				</div>
			</a>
		</div>
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/t_cross" rel="external" style="text-decoration: none;">
				<div class="divTodosLosModelosModeloIzquierdaYDerecha">
					<img src="~/content/info_modelos/t_cross/t_cross2.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Nuevo T-Cross
					</div>
				</div>
			</a>
		</div>
	</div>
	<div id="divSmallPickUp">
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/saveiro" rel="external" style="text-decoration: none;">
				<div class="divTodosLosModelosModeloIzquierdaYDerecha">
					<img src="~/content/info_modelos/saveiro/saveiro-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Saveiro
					</div>
				</div>
			</a>
		</div>
	</div>
	<div id="divComerciales">
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/nueva_amarok" rel="external" style="text-decoration: none;">
				<div class="divTodosLosModelosModeloIzquierdaYDerecha">
					<img src="~/content/info_modelos/nueva_amarok/amarok-grande.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Amarok
					</div>
				</div>
			</a>
		</div>
	</div>
	<div id="divPerformance">
		<div class="divFilaTodosLosModelos">
			<a href="/modelo/nuevo_vento_gli" rel="external" style="text-decoration: none;">
				<div class="divTodosLosModelosModeloIzquierdaYDerecha">
					<img src="~/content/info_modelos/nuevo_vento_gli/vento_gli.png" class="imgResponsiva" />
					<div class="divNombreModelo">
						Nuevo Vento GLI
					</div>
				</div>
			</a>
		</div>
	</div>
</div>