@{
	ViewBag.Title = "Inicio";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}
<!--Imágenes grandes -->
<div id="divContenedorImagenes1">
	<div id="divBarraSuperior">
		<div id="divTituloMatassi">
			Matassi e Imperiale
		</div>
		<div id="divLinksTop">
			<div class="contenedorIcono">
				<a href="https://k63dw.app.goo.gl/01411" rel="external" target="_blank">
					<img src="/Content/img/iconos/turnos.svg" class="svg icono" />
					<div class="tituloIcono">Turnos de taller</div>
				</a>
			</div>
			<div class="contenedorIcono">
				<a href="/empresa/contactenos" rel="external">
					<img src="/Content/img/iconos/concesionario.svg" class="svg icono" />
					<div class="tituloIcono">Concesionario</div>
				</a>
			</div>
			<div class="contenedorIcono">
				<a href="/empresa/prueba_manejo" rel="external">
					<img src="/Content/img/iconos/contacto.svg" class="svg icono" />
					<div class="tituloIcono">Prueba de manejo</div>
				</a>
			</div>
		</div>
	</div>
	<div class="divBotonConocelo">
		<div class="divBotonConoceloInner">
			<a class="aBotonConocelo">
				Conocelo
			</a>
		</div>
	</div>
	<div class="divImagenesNivel1">
		<div data-titulo="Conocelo" data-url="modelo/nuevo_vento_gli">
			<img src="~/Content/info_modelos/nuevo_vento_gli/nuevo_gento_gli.jpg" class="imgResponsiva" />
		</div>
		<!--<div data-titulo="Conocelo" data-url="modelo/nuevo_polo">
			<img src="~/Content/info_modelos/nuevo_polo/nueva_VW-Header-Polo-K-02.jpg" class="imgResponsiva" />
		</div>
		<div data-titulo="Conocelo" data-url="/modelo/up">
			<img src="~/Content/info_modelos/fox/Fox.jpg" class="imgResponsiva" />
		</div>-->
		<div data-titulo="Conocelo" data-url="modelo/nuevo_virtus">
			<img src="~/Content/info_modelos/nuevo_virtus/nueva_Vw_Headers-2_virtus.jpg" class="imgResponsiva" />
		</div>
		<div data-titulo="Conocelo" data-url="modelo/nueva_amarok">
			<img src="~/Content/info_modelos/nueva_amarok/amarok-sitio_4096x2304.jpg" class="imgResponsiva" />
		</div>
		<div data-titulo="Conocelo" data-url="modelo/t_cross">
			<img src="~/Content/info_modelos/t_cross/tcross.jpg" class="imgResponsiva" />
		</div>
	</div>
</div>

<!--3 imágenes con accesos directos-->
<div class="divContenedorAccesosDirecto1">
	<div class="divAccesosDirecto1 divAccesosDirecto1Celular">
		<div class="divImagenAccesoDirecto1">
			<a href="empresa/index.html" rel="external">
				<img src="/Content/img/home/Empresa.jpg" />
			</a>
			<span>Empresa</span>
		</div>
		<div class="divImagenAccesoDirecto1">
			<a href="https://k63dw.app.goo.gl/01411" rel="external" target="_blank">
				<img src="/Content/img/home/Postventa.jpg" />
			</a>
			<span>Postventa</span>
		</div>
		<div class="divImagenAccesoDirecto1">
			<a href="empresa/contactenos.html" rel="external">
				<img src="/Content/img/home/Ventas.jpg" />
			</a>
			<span>Ventas</span>
		</div>
	</div>
</div>

<!--Todos los modelos-->
<div id="divTodosLosModelos" class="oculto">
	<!--<div class="divElegiTuVW">Elegí tu Volkswagen</div>-->

	<div class="divListaModelos">
		<div class="divModelo">
			<a href="/Modelo/the_beetle" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/the_beetle/beetle.png" />
				<span>Beetle</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/fox" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/fox/fox.png" />
				<span>Fox</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/gol" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/gol/gol.png" />
				<span>Nuevo Gol</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/golf" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/golf/golf.png" />
				<span>Golf</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/golf_variant" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/golf_variant/golf-variant.png" />
				<span>Golf Variant</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/passat" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/passat/passat.png" />
				<span>Passat</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/polo" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/polo/polo.png" />
				<span>Polo</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/saveiro" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/saveiro/saveiro.png" />
				<span>Saveiro</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/scirocco" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/scirocco/scirocco.png" />
				<span>Scirocco</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/suran" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/suran/suran.png" />
				<span>Suran</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/nuevo_tiguan_allspace" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/nuevo_tiguan_allspace/tiguan.png" />
				<span>Tiguan</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/touareg" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/touareg/touareg.png" />
				<span>Touareg</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/up" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/up/up.png" />
				<span>Nuevo up!</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/nuevo_vento" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/nuevo_vento/vento.png" />
				<span>Vento</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/nuevo_virtus" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/nuevo_virtus/virtus.png" />
				<span>Virtus</span>
			</a>
		</div>
		<div class="divModelo">
			<a href="/Modelo/voyage" rel="external" class="linkModeloHome">
				<img src="~/Content/info_modelos/voyage/voyage.png" />
				<span>Voyage</span>
			</a>
		</div>
	</div>

	<!--Saber más-->
	<div id="divSaberMas">
		<div id="divQueresSaberMas">¿Querés saber más?</div>
		<div id="divSaberMas3Cosas">
			<a href="https://www.facebook.com/matassieimperialevt/" target="matassi-facebook">
				<div class="divIconoSaberMas">
					<img src="/Content/img/Facebook_Icon.svg" class="svg imgSaberMas" />
					<span>Facebook</span>
				</div>
			</a>
			<a href="https://www.instagram.com/matassieimperiale/" target="matassi-instagram">
				<div class="divIconoSaberMas">
					<img src="/Content/img/Instagram_Icon.svg" class="svg imgSaberMas" />
					<span>Instagram</span>
				</div>
			</a>
			<a href="empresa/contactenos.html" rel="external">
				<div class="divIconoSaberMas">
					<img src="/Content/img/Contacto_Icon.svg" class="svg imgSaberMas" />
					<span>Contacto</span>
				</div>
			</a>
		</div>
	</div>
