@{
	ViewBag.Title = "Ventas Corporativas";
	Layout = "~/Areas/Web/Views/Shared/_LayoutMatassi.cshtml";
}

<style type="text/css">
	p {
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 15px;
		text-align: justify;
		padding: 10px;
	}

	.ULNivel1{
		margin-bottom: 3px;
		margin-left: 15px;
	}

	.LINivel1{
		font-family: 'VWHeadWeb-Bold', Arial, Helvetica, sans-serif;
		font-size: 14px;
		display: list-item !important;
		list-style-image: url('../../../../Content/images/arrow_orange.gif') !important;
		list-style-position: outside;
		line-height: 15px;
		margin-left: 15px;
		margin-top: 15px;
	}

	.ULNivel2{
		margin-left: 15px;
	}
	
	.LINivel2{
		font-family: 'VWHeadWeb-Regular', Arial, Helvetica, sans-serif;
		font-size: 14px;		
		font-weight: normal;
		display: list-item !important;
		list-style-type: disc;
		list-style-position: outside;
		margin-bottom: 5px;
		margin-left: 15px;
		margin-top: 15px;
	}
</style>

<div class="infoModelo">
	<a href="#" class="modeloActual">@ViewBag.Title</a>
	<div class="infoModeloTitulos">
		<ul class="">
			<li>|</li>
			<li>
				<span></span>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 10px 9px 9px 9px; display:block; position: relative; height: auto; overflow:hidden;">
	<div class="columnaIzquierda">
		&nbsp;
	</div>
	<div class="columnaDerecha">
		<img src="~/Content/images/FoxAsesoramiento.jpg" />
		<div class="TituloPagina">@ViewBag.Title</div>

		<p>
			Volkswagen Argentina S.A., otorga importantes descuentos para la adquisición de vehículos 0km. Los beneficiarios son:
		</p>
		<ul class="ULNivel1">
			<li class="LINivel1">
				Empresas
				<ul class="ULNivel2">
					<li class="LINivel2">Las empresas disponen de la facturación directa de Volkswagen Argentina S.A. a precios especialmente elaborados a su medida y necesidades.</li>
					<li class="LINivel2">Las empresas que posean 5 unidades patentadas a nombre de la empresa que emita la orden de compra ó concretando una compra inicial de 5 unidades sin flota preexistente. Podran acceder a este régimen.</li>
					<li class="LINivel2">Las Rentadoras de Unidades, también serán comprendidas dentro del Régimen Flotista, independientemente de las unidades con las que cuenten o adquieran .</li>
				</ul>
			</li>
		</ul>
		<ul class="ULNivel1">
			<li class="LINivel1">
				Diplomaticos
				<ul class="ULNivel2">
					<li class="LINivel2">Acceden a éste Beneficio Embajadores, Ministros, Secretarios y Cónsules del Servicio Exterior Argentino o Extranjero, ademas de las Embajadas propiamente dichas.</li>
				</ul>
			</li>
		</ul>
		<ul class="ULNivel1">
			<li class="LINivel1">
				Personas con capacidades Diferentes bajo la Ley 24.183
				<ul class="ULNivel2">
					<li class="LINivel2">Volkswagen Argentina ofrece su línea de vehículos comercializados en el país, a través del beneficio que marca la Ley 24.183, Decreto 1313-93 que permite obtener franquicias con el fin de adquirir vehículos exentos del IVA y de impuestos internos.</li>
				</ul>
			</li>
		</ul>
		<ul class="ULNivel1">
			<li class="LINivel1">
				Proveedores de VW Argentina:
				<ul class="ULNivel2">
					<li class="LINivel2">Si su empresa es proveedora de Volkswagen Argentina S.A. también cuenta con el Beneficio.</li>
				</ul>
			</li>
		</ul>
		<ul class="ULNivel1">
			<li class="LINivel1">
				Personas físicas (Categorías especiales):
				<ul class="ULNivel2">
					<li class="LINivel2">Presidente y Vice-Presidente de la República.</li>
					<li class="LINivel2">Ministros, Secretarios de Estado, Sub-Secretarios y Directores Nacionales.</li>
					<li class="LINivel2">Jueces de la Nación y de las provincias.</li>
					<li class="LINivel2">Oficiales en actividad de las Fuerzas Armadas y de Seguridad Nacionales y Provinciales.</li>
					<li class="LINivel2">Embajadores, Ministros, Secretarios y Cónsules del Servicio Exterior Argentino o extranjero.</li>
					<li class="LINivel2">Gobernadores, Vice-Gobernadores y Ministros de las Provincias.</li>
					<li class="LINivel2">Cardenales, Arzobispos y Obispos o cargos similares de los diferentes credos.</li>
					<li class="LINivel2">Senadores y Diputados Nacionales y Provinciale</li>
					<li class="LINivel2">Intendentes de los Municipios Argentinos.</li>
					<li class="LINivel2">Rectores y Decanos de Universidades Nacionales, Provinciales y Privadas reconocidas oficialmente.</li>
					<li class="LINivel2">Directores, propietarios, secretarios y periodistas de medios de difusión (diarios, revistas, agencias de noticias, canales de TV abierta y por cable, radiodifusoras, empresas periodísticas y/u otro medio). En el caso de los periodistas, deberán presentar el carnet habilitante correspondiente.</li>
					<li class="LINivel2">Presidentes Y Directores de los Bancos Oficiales y Privados y de las Compañías Financieras y de Seguros que operen con la Cía.</li>
					<li class="LINivel2">Secretario General del SMATA, Secretario General Adjunto y Secretario Gremial (Nivel Nacional), Secretario del SMATA regional Córdoba, Secretario General de la CGT y Secretarios Generales de todos los Sindicatos.</li>
					<li class="LINivel2">Propietarios y Directores de empresas proveedoras de VWA Esta categoría sólo podrá adquirir unidades de producción nacional o en caso de ser importadas, de la línea Golf o superior.</li>
					<li class="LINivel2">Propietarios y Directores de Empresas que estén calificadas como Flotistas Esta categoría sólo podrá adquirir unidades de producción nacional o en caso de ser importadas, de la línea Golf o superior.</li>
					<li class="LINivel2">Oficiales Superiores y/o Directores de los Bomberos de Escobar, Tigre y Gral. Sarmiento y Directores de Hospitales de Tigre y Escobar.</li>
					<li class="LINivel2">Instituciones de Bien Público oficialmente inscriptas y sus presidentes.</li>
					<li class="LINivel2">Empresas e Instituciones inscriptas en la Cámara de Comercio Argentino/Alemana y sus presidentes.</li>
					<li class="LINivel2">APMs ( Agentes de Propaganda Médica), quienes deberán presentar el carnet habilitante correspondiente.</li>
					<li class="LINivel2">Flotas Comerciales: Ingresarán dentro de esta categoría las operaciones por unidades que deberán ser facturadas a personas físicas por políticas de la empresa a la que pertenecen. Para ser aceptadas, deberá tratarse de una orden de compra que incluya 5 o más unidades. Dicha orden de compra deberá venir acompañada por una carta en hoja con membrete de la empresa solicitante, informando los beneficiarios y su puesto, la que deberá ser firmada por el director del área a la que éstos pertenecen.</li>
					<li class="LINivel2">Taxis y Remises: La orden de compra deberá ser por un mínimo de 3 unidades y deberá venir acompañada por una nota emitida por alguna de las asociaciones que nuclean a estas actividades presentando a los asociados a quienes se facturarán las unidades. Esta operatoria estará limitada a los modelos que VWA determine de acuerdo a las políticas comerciales y de marketing correspondientes.</li>
					<li class="LINivel2">Propietarios y Directores de Concesionarios VW, Seat, Audi, Camiones y Buses VW y sus familiares en primer grado.</li>
				</ul>
			</li>
		</ul>
		<ul class="ULNivel1">
			<li class="LINivel1">
				Ex Combatientes Veteranos de Malvinas:
				<ul class="ULNivel2">
					<li class="LINivel2">Volkswagen Argentina ha firmado un convenio con la Federación de Veteranos de Guerra de la República Argentina que permite a los Ex Combatientes Veteranos de Malvinas adquirir vehículos según los precios y condiciones fijadas en la política de ventas especiales.</li>
				</ul>
			</li>
		</ul>
</div>
</div>